In [4]:
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
!ls data/

articles.csv					  images
customers.csv					  sample_submission.csv
h-and-m-personalized-fashion-recommendations.zip  transactions_train.csv

In [5]:
articles_df = pd.read_csv("data/articles.csv")
customers_df = pd.read_csv("data/customers.csv")
transactions_train_df = pd.read_csv("data/transactions_train.csv")

In [7]:
articles_df.shape

(105542, 25)

In [8]:
customers_df.shape

(1371980, 7)

In [9]:
transactions_train_df.shape

(31788324, 5)

In [4]:
articles_df.sample(3)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
82512,808813001,808813,TVP Alvin set,270,Garment Set,Garment Full body,1010001,All over pattern,73,Dark Blue,...,Baby Boy Woven,G,Baby Sizes 50-98,4,Baby/Children,41,Baby Boy,1006,Woven/Jersey/Knitted mix Baby,Set with a shirt and pair of shorts in woven f...
24900,610841001,610841,Mermaid Tie Tanga,59,Swimwear bottom,Swimwear,1010016,Solid,51,Light Pink,...,Swimwear,B,Lingeries/Tights,1,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,"Fully lined bikini bottoms with a low waist, t..."
46915,687176002,687176,Margarita Mynta Thong,286,Underwear bottom,Underwear,1010016,Solid,42,Red,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",Thong briefs in lace and mesh with a low waist...

In [5]:
customers_df.sample(3)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
928333,ad32ae753fb32fc687bf651f2244af08ce8f47a1573239...,1.0,1.0,ACTIVE,Regularly,33.0,5c0832a666eccf660668664c4538423fcb8e4f75b8623e...
654084,7a10ce5aa2b06bdff9a37834765b0bbce62a0c59973bd3...,1.0,1.0,ACTIVE,Regularly,29.0,04bd2e15ad1ae201b818cb053bd63ce96a5c19d9fd79bb...
834987,9be0623b76c2ffa8565d35b9f5c6eec5d3c50c2dd8e0b3...,NaN,NaN,ACTIVE,NONE,43.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...

In [6]:
transactions_train_df.sample(3)

,t_dat,customer_id,article_id,price,sales_channel_id
15042886,2019-08-05,36eaf0d9c152cda131e1f9d7b5869dc383b18d284253a2...,788844001,0.042356,2
29456670,2020-07-25,180e7791cf861b1b3edc968c0334b81edcefcf4d157fce...,579541001,0.016932,1
11549918,2019-06-08,6c1e8549ae10ae839577b9812156e0e46d382c99017c26...,706016002,0.033881,2

In [7]:
profile_articles = ProfileReport(articles_df, title="Articles Report")
profile_customers = ProfileReport(customers_df, title="Customers Report")

In [1]:
# profile_articles.to_file("reports/articles_report.html")
# profile_customers.to_file("reports/customers_report.html")